@use '../basePage';
@use 'src/lib/animations' as *;

@include SlideHorizontal(300%, SlideLeft); // h1 welcome text animation
@include SlideHorizontal(-300%, SlideRight); // p welcome text animation

@include keyframes(ArrowBounce) {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

.MainPage {
    width: 100%;
    height: 100%;

    background-color: transparent;

    display: flex;
    flex-direction: column;

    .MainContent {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center; // center horizontally
        align-items: center; // center vertically

        overflow: hidden;

        // left side image
        .SelfImage {
            width: 50%;
            height: 100%;

            display: flex;
            justify-content: center; // center horizontally
            align-items: center; // center vertically

            img {
                width: 100%;
                height: 95%; // want to allow for some space between top and bottom

                // replaced content is scaled to maintain its aspect ratio while fitting within the element's content box
                // The entire object is made to fill the box, while preserving its aspect ratio
                object-fit: contain;
            }
        }

        // right side text
        .WelcomText {
            width: 50%;
            height: 100%;
            //text-align: center;
    
            display: flex;
            flex-direction: column;
            justify-content: center; // center horizontally
            align-items: center; // center vertically

            color: white;
            font-family: 'Roboto';

            overflow: hidden;

            p {
                width: 100%;
                font-size: 3em;
                font-weight: 200;

                text-align: left;

                margin: 0;

                animation: SlideRight 0.5s linear;
            }
    
            h1 {
                font-size: 3.5em;
                text-transform: uppercase;

                margin: 0;

                animation: SlideLeft 0.5s linear;
            }

            .DownArrow {
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: flex-end;

                padding-top: 2%;

                svg {
                    cursor: pointer;

                    &:hover {
                        animation: ArrowBounce 1s ease-in-out infinite;
                    }
                }
                
            }
        }

    }

}

