@use '../../basePage';
@use 'src/lib/styles/animations' as *;
@use 'src/lib/styles/includeMedia' as *;

@include SlideHorizontal(300%, SlideLeft); // h1 welcome text animation
@include SlideHorizontal(-300%, SlideRight); // p welcome text animation

@include SlideVertical(-800%, SlideDown);
@include keyframes(ArrowBounce) {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

.MainPage {
    width: 100%;
    height: 100%;

    background-color: transparent;

    display: flex;
    flex-direction: column;

    .MainContent {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center; // center horizontally
        align-items: center; // center vertically

        overflow: hidden;

        // left side image
        .SelfImage {
            width: 50%;
            height: 100%;

            display: flex;
            justify-content: center; // center horizontally
            align-items: center; // center vertically

            img {
                width: 100%;
                height: 95%; // want to allow for some space between top and bottom

                // replaced content is scaled to maintain its aspect ratio while fitting within the element's content box
                // The entire object is made to fill the box, while preserving its aspect ratio
                object-fit: contain;
            }
        } // SelfImage

        // right side text
        .WelcomeText {
            width: 50%;
            height: 100%;
    
            display: flex;
            flex-direction: column;
            justify-content: center; // center horizontally
            align-items: center; // center vertically

            color: white;
            font-family: 'Roboto';

            overflow: hidden;

            p { // 'welcome to the personal site of'
                width: 100%;
                font-size: 3rem;
                font-weight: 200;

                text-align: left;

                margin: 0;

                animation: SlideRight 0.5s linear;
            }
    
            h1 { // 'ALEXANDER MARASCO'
                font-size: 3.5rem;
                text-transform: uppercase;

                margin: 0;

                animation: SlideLeft 0.5s linear;
            }

            .DownArrow {
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: flex-end;

                padding-top: 2%;

                animation: SlideDown 0.5s linear;

                svg {
                    cursor: pointer;

                    &:hover {
                        animation: ArrowBounce 1s ease-in-out infinite;
                    }
                }
                
            }
        } // WelcomeText

    } // MainContent

} // MainPage

@include media('<desktop') {
    .MainPage {
        .MainContent {
            // dont show image if not on desktop screen due to limited width
            .SelfImage {
                display: none;
            }

            // expand text to entire page
            .WelcomeText {
                width: 100%;
                height: 100%;

                margin: 0.5%;

                p { // have all text center align
                    text-align: center;
                }
            }
        }
    }
}

