@use '../../basePage';
@use 'src/lib/styles/animations' as *;
@use 'src/lib/styles/includeMedia' as *;
@use 'src/lib/styles/clamp' as *;

@include Scale(0, 1, ScaleUp);

@include SlideHorizontal(-300%, AboutMeSlideRight);
@include SlideHorizontal(300%, AboutMeSlideLeft);
@include SlideVertical(-300%, AboutMeTextSlideDown);

.AboutMe {
    width: 100%;
    height: 100%;

    background-color: transparent;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto';
}

.AboutMeContent {
    width: 100%;
    height: 85%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 2%;
    padding-right: 2%;

    color: white;
    text-align: left;
    
    overflow: hidden;

    @include media('<desktop') {
        height: 90%;
    }
}

.AboutMeText {
    width: 100%;
    height: 20%;

    box-sizing: border-box;

    font-size: sass_clamp(360, 0.85, 2000, 1.5);
    font-weight: 300;

    word-wrap: break-word;

    animation: AboutMeTextSlideDown 0.5s ease-out;

    @include media('<desktop') {
        height: auto;
    }
}

.Icon {
    width: 2em;
    height: 2em;

    @include media('<desktop') {
        width: 1.5em;
        height: 1.5em;
    }
}

.AboutMeBottomHalf {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;

    box-sizing: border-box;

    // put contact info below technical skills
    @include media('<desktop') {
        height: auto;

        flex-direction: column;
        justify-content: flex-start;
    }
}

.TechnicalSkills {
    width: 80%;
    height: 100%;

    overflow: hidden;

    @include media('<desktop') {
        width: 100%;
        height: auto;

        margin-left: 1%;
        margin-bottom: 2%;
    }

    h2 {
        font-size: sass_clamp(360, 0.8, 2000, 1.5);
    }
}

.Languages, .FrameworksLibs, .Tools {
    width: 100%;

    animation-name: AboutMeSlideRight;
    animation-timing-function: ease-out;
}

.Languages {
    animation-duration: 0.25s;
}

.FrameworksLibs {
    animation-duration: 0.5s;

    @include media('<desktop') {
        animation-duration: 0.35s;
    }
}

.Tools {
    animation-duration: 0.75s;

    @include media('<desktop') {
        animation-duration: 0.45s;
    }
}

.TechSkillsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}

.TextIconList {
    flex-basis: 100%;

    display: flex;
    flex-wrap: wrap;

    margin-bottom: 1%;

    transform-origin: top left;
    animation: ScaleUp 0.1s linear;
}

.TextIcon {
    display: flex;
    align-items: center;

    white-space: nowrap;

    margin-bottom: 1%;
    margin-right: 3%;

    font-size: sass_clamp(360, 0.8, 2000, 1.75);
    font-weight: 300;

    .TextName {
        margin-left: 6%;
    }

    .Icon {
        width: 2em;
        height: 2em;
    }
}

.ContactInfo {
    width: 20%;
    height: 100%;
    
    margin-left: 1%;

    @include media('<desktop') {
        width: 100%;
        height: auto;
        
        margin-top: 2%;
    }

    h2 {
        font-size: sass_clamp(360, 0.8, 2000, 1.5);

        margin-top: 0;

        animation-duration: 0.25s;
        animation-timing-function: ease-out;
        animation-name: AboutMeSlideLeft;

        @include media('<desktop') {
            animation-name: AboutMeSlideRight;
            animation-duration: 0.55s;
        }
    }

    .ContactInfoEmail, .ContactInfoPhone, .LinkedIn {
        font-size: sass_clamp(360, 0.8, 2000, 1.5);

        margin-top: 0;

        animation-timing-function: ease-out;
        animation-name: AboutMeSlideLeft;

        @include media('<desktop') {
            animation-name: AboutMeSlideRight;
        }
    }

    .ContactInfoEmail {
       animation-duration: 0.5s;

       @include media('<desktop') {
            animation-duration: 0.65s;
        }
    }

    .ContactInfoPhone {
        animation-duration: 0.75s;
    }

    .LinkedIn {
        margin: 0;

        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-name: AboutMeSlideLeft;

        @include media('<desktop') {
            animation-name: AboutMeSlideRight;
            animation-duration: 0.85s;
        }
    }

    a {
        text-decoration: none;
        font-weight: 500;
    }

}